.page-frame-content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.page-frame-header {
  background-color: rgb(60, 60, 60);
  padding: 16px;
}

.page-frame-body {
  flex-grow: 1;
  overflow: scroll;
  justify-content: center;
}

.page-frame-footer {
  background-color: rgb(76, 76, 76);
  padding: 16px;
}
